/* jgdlgkj */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* =======WebStudio======== */
.body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}
/* =======Header========== */
.main-header {
  background: #ffffff;
}
.link {
  font-weight: 600;
  font-size: 16px;
  line-height: 0.7;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.contact:hover {
  color: red;
}
.contact:focus {
  color: green;
}
/* =======Main=========== */
/* =======hero section======= */
.hero-section {
  background: #2e2f42;
}
.main-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 0.93;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.btn {
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
/* =========second section========= */
.menu-item {
  list-style: none;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 0.83;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.7;
  letter-spacing: 0.02em;
  color: #434455;
}
/* =========third section======= */
.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 0.9;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.menu-item {
  text-decoration: none;
}
/* ==========fourth section======= */
.fourth-section-color {
  background: #f4f4fd;
}
/* =======Footer========= */
.footer {
  background: #2e2f42;
}
.color-text {
  background: #e7e9fc;
}
